@import "tailwindcss";

@theme inline {
  --color-arch-black: #1b1d23;
  --color-arch-dark-grey: #60636d;
  --color-arch-medium-grey: #7d828f;
  --color-arch-light-grey: #c8ccd8;
  --color-arch-very-light-grey: #eeeff4;
  --color-arch-red: #df5656;
  --color-arch-white: #ffffff;

  --shadow-nav: 0 1.5rem 4rem rgb(27 29 35 / 0.12);

  --text-heading-sm: 2rem;
  --text-heading-sm--line-height: 2.5rem;

  --text-section-title: 3rem;
  --text-section-title--line-height: 3.25rem;

  --text-heading-md: 4.5rem;
  --text-heading-md--line-height: 4rem;

  --text-heading-lg: 6rem;
  --text-heading-lg--line-height: 5rem;

  --text-heading-xl: 15.625rem;
  --text-heading-xl--line-height: 12.5rem;
}

@layer components {
  .section-title {
    font-size: var(--text-section-title);
    font-weight: 700;
    letter-spacing: -0.1071rem;
    line-height: var(--text-section-title--line-height);
  }

  .display-title {
    color: var(--color-arch-very-light-grey);
    font-size: clamp(7.5rem, 17vw, var(--text-heading-xl));
    font-weight: 700;
    letter-spacing: -0.3125rem;
    line-height: 0.8;
  }

  .heading-l,
  .heading-xl {
    font-size: var(--text-heading-lg);
    font-weight: 700;
    letter-spacing: -0.125rem;
    line-height: var(--text-heading-lg--line-height);
  }

  .heading-xl {
    letter-spacing: -0.3125rem;
  }

  .heading-m,
  .heading-lg {
    font-size: var(--text-heading-md);
    font-weight: 700;
    letter-spacing: -0.125rem;
    line-height: var(--text-heading-md--line-height);
  }

  .heading-s,
  .heading-md,
  .heading-sm {
    font-size: var(--text-heading-sm);
    font-weight: 700;
    line-height: var(--text-heading-sm--line-height);
  }
}
